 /* The bare minimum English subset, plus copyright & arrows (← ↑ → ↓) & quotes (“ ” ‘ ’) & bullet (•) */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
    src: url('../fonts/Recursive_VF_1.085--subset_range_english_basic.woff2') format('woff2');
    unicode-range: U+0020-007F,U+00A9,U+2190-2193,U+2018,U+2019,U+201C,U+201D,U+2022;
}

:root {
    --background-color: #181818;
    --secondary-color: #242424;
    --tertiary-color: #262626;
    --accent-color: #4fefcade;
    --font-stack: "Recursive", monospace;
    --text-color: #eeeeeede;
    --low-contrast-text: #bbbbbbde;
    --global-font-size: 18px;
    --global-heading-size: 30px;
    --global-heading2-size: 24px;
    --global-heading3-size: 22px;
    --normal-margin: 20px;
    --line-height: 2;

    --smol-font-size: 16px;
    --smol-heading-size: 26px;
    --smol-heading2-size: 20px;
    --smol-heading3-size: 18px;

    --default-recursive-slnt: -2;
    --default-recursive-casl: 0.8;
    --default-recursive-crsv: 1;
    --default-recursive-mono: 0.4;

    font-variation-settings:
        "SLNT" var(--default-recursive-slnt),
        "CASL" var(--default-recursive-casl),
        "CRSV" var(--default-recursive-crsv),
        "MONO" var(--default-recursive-mono);

    --mono-recursive-slnt: 0;
    --mono-recursive-casl: 0.5;
    --mono-recursive-crsv: 0;
    --mono-recursive-mono: 1;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-stack);
    font-size: var(--global-font-size);
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding-left: var(--normal-margin);
    padding-right: var(--normal-margin);
}

a {
    color: var(--accent-color);
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: var(--accent-color);
    transition: width 300ms ease;
}

a:hover::after {
    width: 100%;
}

/* Any link that doesn't need the underline to appear uses this class. */
.no-underline {
    text-decoration: none;
}

/* For the RSS svg that is also a link. */
.rss-link {
    color: #f08c31;   
} 

.rss-link::after {
    background-color: #f08c31;
}

main {
    margin-top: 30px;
}

p {
    margin: 20px 0 20px 0;
    line-height: var(--line-height);
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}

ul {
    list-style-type: none;
    line-height: 1.8;
}

h1 {
    font-size: var(--global-heading-size);
    margin: 30px 0 30px 0;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: var(--global-heading2-size);
    margin: 25px 0 25px 0;
    letter-spacing: 0.05rem;
}

h3,
h4,
h5,
h6 {
    font-size: var(--global-heading3-size);
    margin: 20px 0 20px 0;
}

pre {
    margin: 25px 0 25px 0;
    padding: 20px;
    line-height: 1.4;
}

code {
    font-variation-settings:
        "SLNT" var(--mono-recursive-mono),
        "CASL" var(--mono-recursive-mono),
        "CRSV" var(--mono-recursive-mono),
        "MONO" var(--mono-recursive-mono);
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: 100%;
    max-width: 500px;
}

@media (max-width: 600px) {
    body {
        font-size: var(--smol-font-size);
    }

    h1 {
        font-size: var(--smol-heading-size);
    }

    h2 {
        font-size: var(--smol-heading2-size);
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: var(--smol-heading3-size);
    }
}
