 /* The bare minimum English subset, plus copyright & arrows (← ↑ → ↓) & quotes (“ ” ‘ ’) & bullet (•) */
@font-face {
    font-family: 'Recursive';
    font-style: oblique 0deg 15deg;
    font-weight: 300 1000;
    font-display: swap;
    src: url('../fonts/Recursive_VF_1.085--subset_range_english_basic.woff2') format('woff2');
    unicode-range: U+0020-007F,U+00A9,U+2190-2193,U+2018,U+2019,U+201C,U+201D,U+2022;
}

:root {
    --background-color: #161616;
    --secondary-color: #202020;
    --tertiary-color: #242424;
    --accent-color: #4fefcade;
    --font-stack: "Recursive", monospace;
    --text-color: #eeeeeede;
    --low-contrast-text: #bbbbbbd0;
    --global-font-size: 15px;
    --global-heading-size: 28px;
    --global-heading2-size: 24px;
    --global-heading3-size: 22px;
    --normal-margin: 20px;
    --side-margin: 320px;

    --smol-font-size: 14px;
    --smol-heading-size: 24px;
    --smol-heading2-size: 20px;
    --smol-heading3-size: 18px;
    --smol-normal-margin: 15px;
    --smol-side-margin: 120px;

    --smollest-normal-margin: 10px;
    --smollest-side-margin: 25px;

    --recursive-slnt: -2;
    --recursive-casl: 0.8;
    --recursive-crsv: 1;
    --recursive-mono: 0.6;

    font-variation-settings:
        "SLNT" var(--recursive-slnt),
        "CASL" var(--recursive-casl),
        "CRSV" var(--recursive-crsv),
        "MONO" var(--recursive-mono);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-stack);
    font-size: var(--global-font-size);
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    margin: var(--normal-margin);
    margin-left: var(--side-margin);
    margin-right: var(--side-margin);
}

a {
    color: var(--accent-color);
    cursor: pointer;
    text-decoration: none;
    position: relative;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0;
    background: var(--accent-color);
    transition: width 300ms ease;
}

a:hover::after {
    width: 100%;
}

/* Any link that doesn't need the underline to appear uses this class. */
.no-underline {
    text-decoration: none;
}

/* For the RSS svg that is also a link. */
.rss {
    margin-left: 3px;
}

.rss::after {
    background-color: #f08c31;
}

main {
    margin-top: 30px;
}

p {
    margin: 20px 0 20px 0;
    line-height: 1.8;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
}

ul {
    list-style-type: none;
    line-height: 1.8;
}

h1 {
    font-size: var(--global-heading-size);
    margin: 30px 0 30px 0;
    letter-spacing: 0.1rem;
}

h2 {
    font-size: var(--global-heading2-size);
    margin: 20px 0 20px 0;
    letter-spacing: 0.05rem;
}

h3,
h4,
h5,
h6 {
    font-size: var(--global-heading3-size);
    margin: 20px 0 20px 0;
}

pre {
    margin: 25px 0 25px 0;
    padding: 20px;
    line-height: 1.4;
}

@media (max-width: 1200px) {
    .container {
        margin: var(--smol-normal-margin);
        margin-left: var(--smol-side-margin);
        margin-right: var(--smol-side-margin);
    }
}

@media (max-width: 600px) {
    .container {
        margin: var(--smollest-normal-margin);
        margin-left: var(--smollest-side-margin);
        margin-right: var(--smollest-side-margin);
    }
}

@media (max-width: 740px) {
    body {
        font-size: var(--smol-font-size);
    }

    h1 {
        font-size: var(--smol-heading-size);
    }

    h2 {
        font-size: var(--smol-heading2-size);
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: var(--smol-heading3-size);
    }
}
