<p>My name is <b>Sadbhav</b>, but I go by <b>pes18fan</b> on the internet. This 
stems from a love of the football game Pro Evolution Soccer when I was younger.

<p>I've been writing stuff like HTML since school days, but my first foray into
programming was with Unity and C# back in 2020. I've taught myself various languages,
frameworks, libraries and tech since then, and this learning process of mine
is still <i>very much ongoing.</i></p>

<p>I love music, especially electronic, indie and rock. My favorite genres include
electronic, indie and rock. I've been producing my own music since January 2019 as well.</p>

<p>You can find me on these platforms:</p>

<p>
<ul>
    <li>
        <b>Discord:</b> @pes18fan
    </li>
    <li>
        <b>GitHub:</b> <a href="https://www.github.com/pes18fan" target="_blank">pes18fan</a>
    </li>
    <li>
        <b>Email:</b> pes18fan [at] disr.it
    </li>
</ul>
</p>
