<p>My name is <b>Sadbhav</b>, but I go by <b>pes18fan</b> on the internet. This 
stems from a love of the football game Pro Evolution Soccer when I was younger.

<p>I've dabbled in programming-related things since school days. The first I
remember of it is doing QBASIC back at that time. Sometime later I learnt basic
HTML and CSS. But my first <b>real</b> foray into programming was with Unity and C# 
in 2020. I've taught myself various languages, frameworks, libraries and tech 
since then, and this learning process of mine is still <i>ongoing.</i></p>

<p>I love music, especially electronic, indie and rock. I produce some myself too.</p>

<p>You can find me on these platforms:</p>

<p>
<ul>
    <li>
        <b>GitHub:</b> <a href="https://www.github.com/pes18fan" target="_blank">pes18fan</a>
    </li>
    <li>
        <b>Email:</b> pes18fan [at] disr.it
    </li>
</ul>
</p>
