---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
---

<p>here's my little blog, where i write about random stuff, i guess.
<a href="/posts/rss.xml"><img src="/assets/rss.svg" alt="RSS logo" class="svg-icon" /></a>
</p>

<ul>
    {posts.map(post => (
        <li>
            - <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
    ))}
</ul>