---
import { getCollection } from "astro:content";
import { formatDate, getReadingTime } from "../utils/util.ts";

const posts = await getCollection("posts");
posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
---

<p>I can't really call this a blog, since my post frequency is incredibly low.
Regardless, here's my... set of articles, where I just write about whatever
I wish.
<a href="/posts/rss.xml"><img src="/assets/rss.svg" alt="RSS logo" class="svg-icon" /></a>
</p>

<ul>
    {posts.map(post => (
        <li>
            - <a href={`/posts/${post.slug}`}>{post.data.title}</a><span class="post-info"> &#8226 {formatDate(new Date(post.data.pubDate))} &#8226 {getReadingTime(post.body)} min read</span>
        </li>
    ))}
</ul>

<style>
    .post-info {
        font-size: 0.9rem;
        color: var(--low-contrast-text);
    }
</style>
