---
import { getCollection } from "astro:content";

const posts = await getCollection("posts");
posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
---

<p>I can't really call this a blog, since my post frequency is incredibly low.
Regardless, here's my... set of articles, where I just write about whatever
I wish. More recent the post, the higher up the list it is.
<a href="/posts/rss.xml"><img src="/assets/rss.svg" alt="RSS logo" class="svg-icon" /></a>
</p>

<ul>
    {posts.map(post => (
        <li>
            - <a href={`/posts/${post.slug}`}>{post.data.title}</a>
        </li>
    ))}
</ul>
