<p>You can find me on these platforms:</p>

<p>
<ul>
    <li>
        <b>Discord:</b> @pes18fan
    </li>
    <li>
        <b>GitHub:</b> <a href="https://www.github.com/pes18fan">[pes18fan]</a>
    </li>
    <li>
        <b>Email:</b> <a href="mailto:pes18fan@disr.it">[pes18fan@disr.it]</a>
    </li>
</ul>
</p>
