<p>You can find me on these platforms:</p>

<p>
<ul>
    <li><iframe
        title="Discord user embed"
        width="340"
        height=72
        frameborder="0"
        src="https://widgets.vendicated.dev/user?id=497788384035733518&theme=dark&banner=false&full-banner=false&rounded-corners=true&discord-icon=true&badges=false&guess-nitro=false&"
        loading="eager"
    ></iframe></li>
    <li>
        <b>GitHub:</b> <a href="https://www.github.com/pes18fan">[pes18fan]</a>
    </li>
    <li>
        <b>Email:</b> <a href="mailto:pes18fan@disr.it">[pes18fan@disr.it]</a>
    </li>
</ul>
</p>
