<div class="container">
    <footer class="footer">
        visit this site's
        <a
            href="https://www.github.com/pes18fan/site"
            target="_blank">repository</a
        >.
    </footer>
</div>

<style>
    .footer {
        font-size: 12px;
        clear: both;
        color: var(--low-contrast-text);
        border-top: 1px solid var(--low-contrast-text);
        padding: 15px 0 15px 0;
        margin-top: var(--normal-margin);
    }
</style>
