<p>general hobby programmer, edm enjoyer and manga lover.</p>

<h1>about</h1>

<div class="info">
    <ul>
        <li>- enjoys typescript, svelte and crystal</li>
        <li>- first music pick == drum & bass </li>
    </ul>
</div>

<div class="info">
    <h1>contact</h1>

    <ul>
        <li>
            - email:
            <a href="mailto:pes18fan@disr.it">pes18fan@disr.it</a>
        </li>
        <li>
            - <a href="https://matrix.org">[matrix]</a>:
            <a href="https://matrix.to/#/@malware_apk:tchncs.de" target="_blank"
                >@malware_apk:tchncs.de</a
            >
        </li>
    </ul>
</div>

<style>
    .info {
        margin: var(--normal-margin) 0 var(--normal-margin) 0;
    }
</style>
