<p>i write in spaghetti.</p>

<h1>about</h1>

<div class="info">
    <ul>
        <li>- i enjoy music and random programming</li>
        <li>
            - i love
            <a href="https://twitter.com/foxstevensonnow" target="_blank"
                >fox stevenson</a
            ><img class="external-link-icon" src="/ExternalLink.svg" alt="External link" />'s music
        </li>
        <li>- actually a pes 17 fan. shocking, i know.</li>
    </ul>
</div>

<div class="info">
    <h1>contact</h1>

    <ul>
        <li>
            - email:
            <a href="mailto:pes18fan@disr.it">pes18fan@disr.it</a>
        </li>
        <li>
            - matrix:
            <a href="https://matrix.to/#/@malware_apk:tchncs.de" target="_blank"
                >@malware_apk:tchncs.de</a
            >
        </li>
    </ul>
</div>

<style>
    .info {
        margin: 25px 0 25px 0;
    }

    ul {
        padding: 0;
    }
</style>
