<b>Hello and welcome to my site!</b>

<p>I'm a hobbyist programmer, and I have been so for a few years now. However at 
this point, I'm working towards making a career through it, studying Computer 
Engineering.</p>

<p>I love listening to music as well, and I produce some of my own too,
albeit rather amateur. I enjoy reading manga too.</p>

<p>I write the odd article from time to time, you can check them <a href="/posts">here</a> if you wish.</p>

<style>
    .section {
        margin: var(--normal-margin) 0 var(--normal-margin) 0;
    }

    .tabbed-ul-container p {
        margin: auto 0 0.5ch 0;
    }

    .tabbed-ul {
        margin-left: 4ch;
        list-style-type: none;
    }
</style>
