<p>general hobby programmer, edm enjoyer and manga lover.</p>

<div class="info">
    <h1>info</h1>

    <ul>
        <li>
            - personal projects @
            <a href="https://www.github.com/pes18fan">github:pes18fan</a>
        </li>
        <li>
            - email:
            <a href="mailto:pes18fan@disr.it">pes18fan@disr.it</a>
        </li>
        <li>
            - <a href="https://matrix.org">[matrix]</a>:
            <a href="https://matrix.to/#/@malware_apk:tchncs.de" target="_blank"
                >@malware_apk:tchncs.de</a
            >
        </li>
    </ul>
</div>

<style>
    .info {
        margin: var(--normal-margin) 0 var(--normal-margin) 0;
    }
</style>
