<h1>Hey there.</h1>

<p>
    I'm a college student studying Computer Engineering.
</p>

<p>
    I spend a lot of my time writing random code projects. You can check them
    out over on my <a href="https://www.github.com/pes18fan" target="_blank"
        >GitHub</a
    >.
</p>

<p>
    I write the odd article on this site from time to time as well. You can take
    a look at them <a href="/posts">here</a>.
</p>

<style>
    .section {
        margin: var(--normal-margin) 0 var(--normal-margin) 0;
    }

    .tabbed-ul-container p {
        margin: auto 0 0.5ch 0;
    }

    .tabbed-ul {
        margin-left: 4ch;
        list-style-type: none;
    }
</style>
