---
const username = "***REMOVED***";
const apiKey = import.meta.env.LASTFM_API_KEY;

const url = `https://ws.audioscrobbler.com/2.0/?method=user.getRecentTracks&user=${username}&api_key=${apiKey}&format=json`;

let artist = "";
let trackName = "";
let fetched = false;
let nowPlaying = undefined;

try {
    const response = await fetch(url);
    const data = await response.json();

    const nowPlaying = data.recenttracks.track.find(
        (track) => track["@attr"] && track["@attr"].nowplaying
    );

    if (nowPlaying) {
        artist = nowPlaying.artist["#text"];
        trackName = nowPlaying.name;
    } else {
        const lastPlayed = data.recenttracks.track[0];

        artist = lastPlayed.artist["#text"];
        trackName = lastPlayed.name;
    }

    fetched = true;
} catch (error) {
    console.error("Couldn't fetch data from Last.fm: ", error);
}
---

{
    fetched ? (
       <p>
            <strong>{nowPlaying ? "Now playing" : "Last played"}: </strong> {trackName} by {artist}.
        </p>
    ) : (
        <p>Couldn't fetch data from Last.fm.</p>
    )
}
