<div class="container">
    <div class="full-navbar">
        <header class="terminal-logo">
            <div class="terminal-prompt">
                <a href="/" class="site-name">pes18fan</a>:~$
                {Astro.url.pathname}
            </div>
        </header>
        <nav class="terminal-menu">
            <ul>
                <li>
                    <a href="/posts" class="nav-list-item"> posts/</a>
                </li>
                <li>
                    <a href="/stuff" class="nav-list-item"> stuff/</a>
                </li>
                <li>
                    <a href="/contact" class="nav-list-item"> contact/</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

<style>
    @keyframes cursor {
        from {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .full-navbar {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 25px;
        font-size: 16px;
    }

    .terminal-prompt::after {
        content: "";
        background: var(--accent-color);
        display: inline-block;
        height: 1em;
        bottom: -2px;
        position: relative;
        -webkit-animation: cursor 1.5s infinite;
        animation: cursor 1.5s infinite;
        width: 8px;
    }

    .terminal-prompt::before {
        content: none;
    }

    .terminal-menu {
        margin-left: auto;
    }

    .terminal-menu ul {
        display: flex;
        justify-content: flex-end;
        justify-items: flex-end;
        flex-direction: row;
        justify-content: left;
        margin-top: 0;
        list-style-type: none;
        padding: 0 !important;
        width: 100%;
    }

    .terminal-menu ul li {
        position: relative;
        margin-right: 40px;
        cursor: pointer;
    }

    .nav-list-item {
        color: var(--low-contrast-text);
    }

    .nav-list-item:hover {
        color: var(--text-color);
        text-decoration: none;
    }

    @media only screen and (max-width: 1200px) {
        .full-navbar {
            flex-direction: column;
        }

        .terminal-menu {
            margin-top: 10px;
            margin-left: 0;
        }
    }

    @media only screen and (max-width: 520px) {
        .terminal-menu li {
            margin-right: 30px;
        }

        .site-name {
            width: 3ch;
            overflow: hidden;
            display: inline-block;
        }
    }
</style>
