---
import NavbarItem from "./NavbarItem.astro";

const pathname = Astro.url.pathname;
const pathnameSliced = pathname.slice(
    1,
    pathname[pathname.length - 1] == "/"
        ? pathname.length - 1
        : pathname.length,
);
---

<div class="container">
    <div class="full-navbar">
        <header class="terminal">
            <div class="terminal-prompt">
                <a href="/" class="site-name">pes18fan</a>
                {">"}
                {
                    // This is basically a switch expression lol
                    // prettier-ignore
                    {
                        "": <span>cat /etc/motd</span>,
                        about: <span>whoami</span>,
                        posts: <span>cd posts/</span>,
                    }[pathnameSliced] || (
                        <span>
                            open
                            {pathnameSliced}.html
                        </span>
                    )
                }
            </div>
        </header>
        <nav class="links">
            <ul>
                <NavbarItem name="posts/" link="/posts" />
                <NavbarItem name="stuff/" link="/stuff" />
                <NavbarItem name="about/" link="/about" />
            </ul>
        </nav>
    </div>
</div>

<style>
    @keyframes cursor {
        from {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .full-navbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 25px;
        font-size: 16px;

        font-variation-settings:
            "SLNT" var(--mono-recursive-mono),
            "CASL" var(--mono-recursive-mono),
            "CRSV" var(--mono-recursive-mono),
            "MONO" var(--mono-recursive-mono);
    }

    .terminal {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    .terminal-prompt {
        line-height: var(--line-height);
    }

    .terminal-prompt::after {
        content: "";
        background: var(--accent-color);
        display: inline-block;
        height: 1em;
        bottom: -2.5px;
        position: relative;
        -webkit-animation: cursor 1.5s infinite;
        animation: cursor 1.5s infinite;
        width: 8px;
        border-radius: 4px;
    }

    .terminal-prompt::before {
        content: none;
    }

    .links {
        margin-left: auto;
    }

    .links ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: row;
        justify-content: left;
        margin-top: 0;
        list-style-type: none;
        padding: 0 !important;
        width: 100%;
    }

    @media only screen and (max-width: 800px) {
        .full-navbar {
            flex-direction: column;
            align-items: flex-start;
        }

        .links {
            margin-top: 10px;
            margin-left: 0;
        }
    }

    @media only screen and (max-width: 600px) {
        .links li {
            margin-right: 30px;
        }

        .site-name {
            width: 3ch;
            overflow: hidden;
        }
    }
</style>
