---
import NavbarItem from "./NavbarItem.astro";

const pathname = Astro.url.pathname;
const split = pathname.split("/");

/* First is also discarded because the pathname is like /a/b/c and thus the first
 * one is just an empty string. */
const splitExceptLast = split.slice(1, split.length - 1);
---

<div class="container">
    <div class="full-navbar">
        <header class="site-name">
            <span class="pathname"
                >{
                    pathname == "/" ? (
                        "pes18fan"
                    ) : (
                        <div class="sub-path-container">
                            <span class="uname">
                                <>
                                    <a href="/">pes18fan</a>
                                    <span>/</span>
                                </>
                                {"/"}
                                {splitExceptLast.map((str, idx) => {
                                    return (
                                        <>
                                            {/* DO NOT CHANGE FORMATTING HERE OR STYLE WILL BREAK */}
                                            <a
                                                href={split
                                                    .slice(0, idx - 1)
                                                    .join("/")}
                                            >{str}</a>
                                            <span>/</span>
                                        </>
                                    );
                                })}
                            </span>
                            <span class="sub-path">
                                {split[split.length - 1]}
                            </span>
                        </div>
                    )
                }</span
            >
        </header>
        <nav class="links">
            <ul>
                <NavbarItem name="posts" link="/posts" />
                <NavbarItem name="stuff" link="/stuff" />
                <NavbarItem name="about" link="/about" />
            </ul>
        </nav>
    </div>

    <hr />
</div>

<style>
    @keyframes cursor {
        from {
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        to {
            opacity: 0;
        }
    }

    .full-navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        font-variation-settings:
            "SLNT" var(--mono-recursive-mono),
            "CASL" var(--mono-recursive-mono),
            "CRSV" var(--mono-recursive-mono),
            "MONO" var(--mono-recursive-mono);
    }

    .site-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 24px;
        padding: var(--normal-margin) 0 0;
    }

    .sub-path-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        line-height: 1.2em;
    }

    .uname {
        font-size: 0px;
    }

    .uname a,
    .uname span {
        font-size: 16px;
    }

    .links {
        padding: 10px 0 0;
    }

    .links ul {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        flex-direction: row;
        justify-content: left;
        margin-top: 0;
        list-style-type: none;
        padding: 0 !important;
        width: 100%;
    }

    hr {
        margin: 10px 0 0;
    }

    @media only screen and (max-width: 600px) {
        .links li {
            margin-right: 30px;
        }
    }
</style>
