---
import { getCollection } from "astro:content";
import { formatDate, getReadingTime } from "../utils/util.ts";
import PostLink from "./PostLink.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
---

<p>I can't really call this a blog, since my post frequency is incredibly low.
Regardless, here's my... set of articles, where I just write about whatever
I wish.
<a href="/posts/rss.xml" class="rss"><img src="/assets/rss.svg" alt="RSS logo" /></a>
</p>

<ul>
    {posts.map(post => (
        <li>
            <PostLink post={post} />
        </li>
    ))}
</ul>

