---
import { getCollection } from "astro:content";
import PostLink from "./PostLink.astro";

const posts = await getCollection("posts");
posts.sort((a, b) => new Date(b.data.pubDate) - new Date(a.data.pubDate));
---

<p>I can't really call this a blog, since I don't post too frequently.
Regardless, here's my... set of articles, where I just write about whatever
I wish. You can get also grab the <a class="rss-link" href="/posts/rss.xml">RSS feed</a> if you wish.
</p>

<ul>
    {posts.map(post => (
        <li>
            <PostLink post={post} />
        </li>
    ))}
</ul>

<style>

</style>
