<p>
    here's a list of some stuff i've made that i think is good enough to be shown.
    <br />
    do note that all the shown projects are available on my
    <a href="https://www.github.com/pes18fan" target="_blank">github account</a
    ><img class="external-link-icon" src="/ExternalLink.svg" alt="External link" />.
</p>
<ul class="minimal-list">
    <li>
        -
        <a href="https://www.github.com/pes18fan/notor" target="_blank">notor</a
        ><img class="external-link-icon" src="/ExternalLink.svg" alt="External link" />: a note-taking terminal app.
    </li>
    <li>
        -
        <a href="https://www.github.com/pes18fan/libman" target="_blank"
            >libman</a
        ><img class="external-link-icon" src="/ExternalLink.svg" alt="External link" />: a simple C program to manage a collection of books.
    </li>
    <li>
        -
        <a href="https://www.github.com/pes18fan/libmanp" target="_blank"
            >libmanp</a
        ><img class="external-link-icon" src="/ExternalLink.svg" alt="External link" />: "p" for plus; libmanp is libman but a desktop app.
    </li>
    <li>
        -
        <a href="https://www.github.com/pes18fan/md-prev" target="_blank"
            >md-prev</a
        ><img class="external-link-icon" src="/ExternalLink.svg" alt="External link" />: a markdown previewer.
    </li>
    <li>
        -
        <a href="https://www.github.com/pes18fan/tic_tac_toe" target="_blank"
            >tic_tac_toe</a
        ><img class="external-link-icon" src="/ExternalLink.svg" alt="External link" />: a simple tic tac toe game.
    </li>
</ul>
