---
import Project from "./Project.astro";
---

<p>
    Here's a list of some projects I've made that I think is good enough to be
    shown. All of these projects are available on my
    <a href="https://www.github.com/pes18fan" target="_blank">GitHub account</a
    >.
</p>
<div class="projects">
    <Project 
        name="zen" 
        link="https://www.github.com/pes18fan/zen" 
        desc="dynamically typed programming language." />
    <Project
        name="notor"
        link="https://www.github.com/pes18fan/notor"
        desc="a note-taking terminal app." />
    <Project
        name="watchlist"
        link="https://www.github.com/pes18fan/watchlist"
        desc="a C program to manage a media watchlist." />
    <Project
        name="libmanp"
        link="https://www.github.com/pes18fan/libmanp"
        desc="'p' for plus: libmanp is libman but a desktop app." />
    <Project
        name="ncal"
        link="https://www.github.com/pes18fan/ncal"
        desc="a basic terminal-based Nepali calendar." />
    <Project
        name="md-prev"
        link="https://www.github.com/pes18fan/md-prev"
        desc="a simple markdown previewer in React." />
</div>

<style>
    .projects {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        column-gap: 20px;
        row-gap: 20px;
    }
</style>
