---
import "../styles/global.css";

const { title, description } = Astro.props;

import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta
            name="description"
            content={description}
        />
        <meta property="og:site_name" content="pes18fan" />
        <meta property="og:url" content="https://p18f.vercel.app/" />
        <meta property="og:image" content="/favicon.ico" />
        <meta property="og:title" content="pes18fan" />
        <meta
            property="og:description"
            content="pes doesn't exist anymore get over it for god's sake"
        />
        <meta property="og:type" content="website" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>

    <body>
        <main>
            <Navbar />

            <div class="container">
                <slot />
            </div>

            <Footer />
        </main>
    </body>
</html>
